<table class="table" id="openfisca-table">
    <tbody>
{{#data}}
        <tr>
            <td>{{name}}</td>
    {{#values}}
            <td class="{{tdClass}} value">{{value}} €</td>
    {{/values}}
        </tr>
{{/data}}
    </tbody>
</table>
